.image {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  width: 60vw;
  height: auto;
  border-radius: 7px;
}

.activeImage {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  width: 60vw;
  height: auto;
  border-radius: 7px;
}