.image {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 7px;
}

.carousel {
  width: 100%;
}

.control {
  width: 60px;
  color: white;
  margin-bottom: 100%;
}

@media screen and (max-width: 599px){
  .image {
    width: 100%;
  }
  .control {
    display: none;
  }
}