.tabLink {
  display: flex;
  gap: 8px;
  padding: 6px 12px;
  color: #5c636a;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 1px solid #e8cad0;
  }
}

.activeTabLink {
  display: flex;
  gap: 8px;
  padding: 6px 12px;
  background-color: #B5838D;
  color: white;
  border-radius: 10px;
}