.footerLink {
  display: flex;
  transition: all 0.15s ease-in-out;

  &:hover {
    translate: 0 -8px;
    scale: 1.2;
  }
}

.linkContent {
  width: auto;
  height: 35px;
}

.faqLink {
  @extend .footerLink;
  @extend .linkContent;
  background-color: white;
  color: #5D2A42;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}